<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeNavigation.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeNavigation.Settings>
            <setting name="PlaybackSpeed" serializeAs="String">
                <value>-2000</value>
            </setting>
            <setting name="StepUnit" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="StepValue" serializeAs="String">
                <value>1</value>
            </setting>
        </TimeNavigation.Settings>
    </userSettings>
</configuration>