# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pycharm settings
.idea

# arcgis
*.csproj

# test output
*_cmp.txt
*_cmp_tmp.txt
*_log.txt
*_prf.txt
*.txt.xml
repro/
pyout/
/pydata/

# pyrunner output
pyrunner/runlog.txt

# local config files
pyharness/phini_local.py
pyrunner/pyrunnerini_local.py
pyrunner/results.set

# misc
*.bak
*.sqlite
*.json
*.sln
*.pyproj
*.sd
*.sddraft

# retired py tests
*.py_old
*.pydonotrun
*.retired
*.pyDISABLE

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/pythonharness/v15/.suo
/.vs/slnx.sqlite-journal

pytest/geocoding/GeocodingTools/.vs/GeocodingTools/v15/.suo

pyrunner/DSSessionNotes/FGDB_SessionNote.txt
pyrunner/DSSessionNotes/inFGDB_outMEM_SessionNote.txt
pyrunner/DSSessionNotes/inFGDB_outPGDB_SessionNote.txt
pyrunner/DSSessionNotes/inFGDB_outSHP_SessionNote.txt
pyrunner/DSSessionNotes/inPGDB_outFGDB_SessionNote.txt
pyrunner/DSSessionNotes/inPGDB_outMEM_SessionNote.txt
pyrunner/DSSessionNotes/inPGDB_outSHP_SessionNote.txt
pyrunner/DSSessionNotes/MEM_SessionNote.txt
pyrunner/DSSessionNotes/PGDB_SessionNote.txt
pyrunner/DSSessionNotes/SDE_DB2_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Infmx_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Oracle_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Oracle_SDEBINARY_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Oracle_SDELOB_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Oracle_SDO_SessionNote.txt
pyrunner/DSSessionNotes/SDE_PostgreSQL_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_SQLServer_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_SQLServer_GEOGRAPHY_SessionNote.txt
pyrunner/DSSessionNotes/SDE_SQLServer_GEOMETRY_SessionNote.txt
pyrunner/DSSessionNotes/SHP_SessionNote.txt
pyrunner/QaTestResultsPublisher.set
pyrunner/DSSessionNotes/SHP_SessionNote.txt
pyrunner/DSSessionNotes/SDE_SQLServer_GEOMETRY_SessionNote.txt
pytest/core/scripts/CR228476/default.sde
pytest/core/scripts/CR228476/notdefault.sde
*.txt

pyharness/sdeconnection/toolbox_dcp2017.sde
pyharness/sdeconnection/PG/toolbox_dcp2017.sde
pyharness/sdeconnection/PG/toolbox_dcp2017.sde
pyrunner/DSSessionNotes/FGDB_SessionNote.txt
pyrunner/DSSessionNotes/inFGDB_outMEM_SessionNote.txt
pyrunner/DSSessionNotes/inFGDB_outPGDB_SessionNote.txt
pyrunner/DSSessionNotes/inFGDB_outSHP_SessionNote.txt
pyrunner/DSSessionNotes/inPGDB_outFGDB_SessionNote.txt
pyrunner/DSSessionNotes/inPGDB_outMEM_SessionNote.txt
pyrunner/DSSessionNotes/inPGDB_outSHP_SessionNote.txt
pyrunner/DSSessionNotes/MEM_SessionNote.txt
pyrunner/DSSessionNotes/PGDB_SessionNote.txt
pyrunner/DSSessionNotes/SDE_DB2_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Infmx_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Oracle_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Oracle_SDEBINARY_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Oracle_SDELOB_SessionNote.txt
pyrunner/DSSessionNotes/SDE_Oracle_SDO_SessionNote.txt
pyrunner/DSSessionNotes/SDE_PostgreSQL_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_SQLServer_Defaults_SessionNote.txt
pyrunner/DSSessionNotes/SDE_SQLServer_GEOGRAPHY_SessionNote.txt
pyrunner/DSSessionNotes/SDE_SQLServer_GEOMETRY_SessionNote.txt
pyrunner/DSSessionNotes/SHP_SessionNote.txt
*.txt
pyharness/sdeconnection/toolbox3.sde
pyharness/sdeconnection/toolbox2.sde
pyharness/sdeconnection/toolbox.sde
pyharness/sdeconnection/SS/toolbox3.sde
pyharness/sdeconnection/SS/toolbox2.sde
pyharness/sdeconnection/SS/toolbox.sde
pyharness/sdeconnection/PG/toolbox3.sde
pyharness/sdeconnection/PG/toolbox2.sde
pyharness/sdeconnection/PG/toolbox.sde
pyharness/sdeconnection/ORA/toolbox3.sde
pyharness/sdeconnection/ORA/toolbox2.sde
pyharness/sdeconnection/ORA/toolbox.sde

pyharness/sdeconnection/ORA/toolbox.sde
pyharness/sdeconnection/PG/toolbox.sde
pyharness/sdeconnection/QA/toolbox.sde
pyharness/sdeconnection/QA/toolbox2.sde
pyharness/sdeconnection/QA/toolbox3.sde
pyrunner/pyrunnerini.py
pyharness/sdeconnection/ORA/toolbox.sde
pyharness/sdeconnection/PG/toolbox.sde
pyharness/sdeconnection/toolbox/info/arc.dir
pyharness/sdeconnection/toolbox.sde
/pytest/aviation/aer/charting/dm/ProcessATSRoutes/ReportChartChanges.py
