<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomAnimation.AnimationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CustomAnimation.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomAnimation.AnimationSettings>
            <setting name="AtTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AfterTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IsAfterTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Degrees" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="VerticesOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLinePitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyEvery" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="HeightAbove" serializeAs="String">
                <value>1</value>
            </setting>
        </CustomAnimation.AnimationSettings>
        <CustomAnimation.Settings1>
            <setting name="Length" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1000</value>
            </setting>
        </CustomAnimation.Settings1>
    </userSettings>
</configuration>